<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play Audio</title>
</head>
<body>
    <h1>Play Audio</h1>
    <p>Original Filename: {{ audio_data['original_filename'] }}</p>
    <audio controls>
        <source src="{{ url_for('static', filename=audio_data['audio_location']) }}" type="audio/mp4">
        Your browser does not support the audio element.
    </audio>
    <br><br>
    <a href="{{ url_for('index') }}">Back to Home</a>
</body>
</html>


